header{
    background-color: aqua;
    color: red;
}
main{
    background-color: yellow;
    color: red;
}
section{
    background-color: green;
    color: red;
}
div{
    background-color: blue;
    color: red;
}
